@import "inicio";
@import "texto";


@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=PT+Sans&family=Tilt+Neon&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}